impoorts Liberary

In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder

import pickle

LOAD THE DATASET

In [47]:
data=pd.read_csv("churn_data.csv")
data

   RollNumber  CustomerID    Surname  ... IsActiveMember EstimatedSalary  Exited
0           1           1      Smith  ...              1   144369.943531       0
1           2           2    Johnson  ...              1   127457.408058       0
2           3           3   Williams  ...              0   113361.415970       0
3           4           4      Brown  ...              1    83255.359196       1
4           5           5      Jones  ...              0    90078.919021       0
5           6           6     Miller  ...              1   144962.019553       1
6           7           7      Davis  ...              1    93019.965915       1
7           8           8     Garcia  ...              0    45019.881393       1
8           9           9  Rodriguez  ...              1    47959.658327       0
9          10          10     Wilson  ...              0    28963.706164       0

[10 rows x 13 columns]

PREPROCESS THE DATA
DROP IRRELEVANT COLUMS

In [12]:
data = data.drop(["RollNumber", "CustomerID", "Surname"], axis=1)
data

  Geography  Gender  Age  ...  IsActiveMember  EstimatedSalary  Exited
0   Germany    Male   26  ...               1    144369.943531       0
1    France    Male   48  ...               1    127457.408058       0
2   Germany  Female   54  ...               0    113361.415970       0
3   Germany    Male   26  ...               1     83255.359196       1
4    France  Female   45  ...               0     90078.919021       0
5    France  Female   57  ...               1    144962.019553       1
6   Germany  Female   36  ...               1     93019.965915       1
7     Spain    Male   46  ...               0     45019.881393       1
8   Germany  Female   49  ...               1     47959.658327       0
9   Germany    Male   51  ...               0     28963.706164       0

[10 rows x 10 columns]

ENCODER CATEGORICAL VARIABLE

In [13]:
label_encoder_gender=LabelEncoder()
data["Gender"]=label_encoder_gender.fit_transform(data["Gender"])
data

  Geography  Gender  Age  ...  IsActiveMember  EstimatedSalary  Exited
0   Germany       1   26  ...               1    144369.943531       0
1    France       1   48  ...               1    127457.408058       0
2   Germany       0   54  ...               0    113361.415970       0
3   Germany       1   26  ...               1     83255.359196       1
4    France       0   45  ...               0     90078.919021       0
5    France       0   57  ...               1    144962.019553       1
6   Germany       0   36  ...               1     93019.965915       1
7     Spain       1   46  ...               0     45019.881393       1
8   Germany       0   49  ...               1     47959.658327       0
9   Germany       1   51  ...               0     28963.706164       0

[10 rows x 10 columns]

## ONEHOTENCODER "GEOGRAPHY" ##

In [16]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder=OneHotEncoder()

geo_encoder=one_hot_encoder.fit_transform(data[["Geography"]])
print(geo_encoder)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10 stored elements and shape (10, 3)>
  Coords	Values
  (0, 1)	1.0
  (1, 0)	1.0
  (2, 1)	1.0
  (3, 1)	1.0
  (4, 0)	1.0
  (5, 0)	1.0
  (6, 1)	1.0
  (7, 2)	1.0
  (8, 1)	1.0
  (9, 1)	1.0

Check all the feature of the names of Gepgraphy

In [17]:
one_hot_encoder.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

Convert it into array

In [20]:
# Convert OneHotEncoder result to array
geo_encoder_array = geo_encoder.toarray()

# Create a DataFrame with proper column names
geo_df = pd.DataFrame(geo_encoder_array, columns=one_hot_encoder.get_feature_names_out(["Geography"]))
print(geo_df)

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0
1               1.0                0.0              0.0
2               0.0                1.0              0.0
3               0.0                1.0              0.0
4               1.0                0.0              0.0
5               1.0                0.0              0.0
6               0.0                1.0              0.0
7               0.0                0.0              1.0
8               0.0                1.0              0.0
9               0.0                1.0              0.0

COMBINE ONE HOT ENCODER COLUMNS WITH THE ORIGINAL DATA

In [21]:
data = pd.concat([data.drop("Geography", axis=1), geo_df], axis=1)
data.head()

   Gender  Age  Tenure  ...  Geography_France  Geography_Germany  Geography_Spain
0       1   26       3  ...               0.0                1.0              0.0
1       1   48       7  ...               1.0                0.0              0.0
2       0   54       4  ...               0.0                1.0              0.0
3       1   26       9  ...               0.0                1.0              0.0
4       0   45       3  ...               1.0                0.0              0.0

[5 rows x 12 columns]

## SAVE the encoder and scaler

In [46]:
with open("label_encoder-gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)
    

with open("One_hot_encoder1.pkl","wb") as file:
    pickle.dump(one_hot_encoder,file)

Divide the dataset into indepent and dependent feature.

In [23]:
x=data.drop("Exited",axis=1)
y=data["Exited"]
x
y

0    0
1    0
2    0
3    1
4    0
5    1
6    1
7    1
8    0
9    0
Name: Exited, dtype: int64

Split the data into training and testing sets

In [26]:
X_train,x_test,Y_train,Y_test=train_test_split(x,y,test_size=0.21,random_state=42)
print(x_test)
print(X_train)
print(Y_test)
print(Y_train)

   Gender  Age  Tenure  ...  Geography_France  Geography_Germany  Geography_Spain
8       0   49       5  ...               0.0                1.0              0.0
1       1   48       7  ...               1.0                0.0              0.0
5       0   57       5  ...               1.0                0.0              0.0

[3 rows x 11 columns]
   Gender  Age  Tenure  ...  Geography_France  Geography_Germany  Geography_Spain
0       1   26       3  ...               0.0                1.0              0.0
7       1   46       7  ...               0.0                0.0              1.0
2       0   54       4  ...               0.0                1.0              0.0
9       1   51       9  ...               0.0                1.0              0.0
4       0   45       3  ...               1.0                0.0              0.0
3       1   26       9  ...               0.0                1.0              0.0
6       0   36       3  ...               0.0                1.0              0.0

[7 rows x 11 columns]
8    0
1    0
5    1
Name: Exited, dtype: int64
0    0
7    1
2    0
9    0
4    0
3    1
6    1
Name: Exited, dtype: int64

scale these feature.

In [50]:
scaler=StandardScaler()


X_train=scaler.fit_transform(X_train)
print(X_train)
x_test=scaler.transform(x_test)
print(x_test)


with open("scaler1.pkl","wb") as file:
    pickle.dump(scaler,file)

[[ 0.8660254  -1.37712154 -0.93019861 -1.66050557  1.87082869  0.63245553
   1.15470054  1.62915249 -0.40824829  0.63245553 -0.40824829]
 [ 0.8660254   0.51304528  0.60189322 -0.34244723  0.          0.63245553
  -0.8660254  -1.11736567 -0.40824829 -1.58113883  2.44948974]
 [-1.15470054  1.269112   -0.54717566  1.50402312  0.         -1.58113883
  -0.8660254   0.77192621 -0.40824829  0.63245553 -0.40824829]
 [ 0.8660254   0.98558698  1.36793914 -0.14909821  0.          0.63245553
  -0.8660254  -1.56123632 -0.40824829  0.63245553 -0.40824829]
 [-1.15470054  0.41853694 -0.93019861 -0.81871361  0.          0.63245553
  -0.8660254   0.12828494  2.44948974 -1.58113883 -0.40824829]
 [ 0.8660254  -1.37712154  1.36793914  0.95151981 -1.87082869 -1.58113883
   1.15470054 -0.06035139 -0.40824829  0.63245553 -0.40824829]
 [-1.15470054 -0.43203813 -0.93019861  0.51522169  0.          0.63245553
   1.15470054  0.20958975 -0.40824829  0.63245553 -0.40824829]]
[[-7.07106781e-01 -5.79324122e-01 -7.07106781e-01 -6.76090563e-01
  -7.07106781e-01 -4.75809868e-17  0.00000000e+00 -1.39379912e+00
  -1.41421356e+00  1.41421356e+00 -1.58603289e-17]
 [ 1.41421356e+00 -8.27605889e-01  1.41421356e+00  1.41376651e+00
   1.41421356e+00 -4.75809868e-17  0.00000000e+00  4.89551995e-01
   7.07106781e-01 -7.07106781e-01 -1.58603289e-17]
 [-7.07106781e-01  1.40693001e+00 -7.07106781e-01 -7.37675948e-01
  -7.07106781e-01 -4.75809868e-17  0.00000000e+00  9.04247124e-01
   7.07106781e-01 -7.07106781e-01 -1.58603289e-17]]

In [52]:
correct_features = x.columns.tolist()

correct_features

['Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Geography_France',
 'Geography_Germany',
 'Geography_Spain']

## ANN IMPLEMENTION

In [29]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

BUILD OUR ANN MODEL

In [30]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),  # Input layer
    Dense(32, activation='relu'),                                   # Hidden layer
    Dense(1, activation='sigmoid')                                   # Output layer
])

model.summary()

c:\Users\sriva\Desktop\ANN Clasification\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           768 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,881 (11.25 KB)

 Trainable params: 2,881 (11.25 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
import tensorflow as tf

# Optimizer
opt = tf.keras.optimizers.Adam(learning_rate=0.01)

# Loss function
loss = tf.keras.losses.BinaryCrossentropy()

2.20.0

Compile the model

In [35]:
model.compile(
    optimizer="adam",                       # use the optimizer object, not a string
    loss='binary_crossentropy',           # string name for binary cross-entropy
    metrics=['accuracy']
)

## set up the Tenserboard

In [37]:
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
from datetime import datetime

log_dir = "logs/Fit_" + datetime.now().strftime("%y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

## SET UP EARLY STOPPING

In [36]:
from tensorflow.keras.callbacks import EarlyStopping

early_stopping_callback = EarlyStopping(
    monitor="val_loss",
    patience=5,
    restore_best_weights=True
)

Train the  model

In [43]:
history = model.fit(
    X_train, Y_train,
    validation_data=(x_test, Y_test),
    epochs=100,
    batch_size=32,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

# Save the trained model
model.save('model.h5')

Epoch 1/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 3s 3s/step - accuracy: 0.5714 - loss: 0.7249 - val_accuracy: 0.3333 - val_loss: 0.7499
Epoch 2/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 198ms/step - accuracy: 0.5714 - loss: 0.6977 - val_accuracy: 0.3333 - val_loss: 0.7521
Epoch 3/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 192ms/step - accuracy: 0.5714 - loss: 0.6721 - val_accuracy: 0.3333 - val_loss: 0.7543
Epoch 4/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 188ms/step - accuracy: 0.5714 - loss: 0.6477 - val_accuracy: 0.3333 - val_loss: 0.7566
Epoch 5/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 197ms/step - accuracy: 0.7143 - loss: 0.6245 - val_accuracy: 0.0000e+00 - val_loss: 0.7593
Epoch 6/100
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 189ms/step - accuracy: 0.7143 - loss: 0.6025 - val_accuracy: 0.3333 - val_loss: 0.7623

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

## LOAD the tensorboard Extension

In [42]:
%load_ext tensorboard
%tensorboard --logdir logs/Fit_name

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6007 (pid 4140), started 0:01:35 ago. (Use '!kill 4140' to kill it.)

### PREDICTION WITH TRAINED ANN MODEL