Prediction of the trained ANN model

## LOAD the pickle file

In [145]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

## load the trained Model,scaler,pickle,onehot

In [8]:
model=load_model("model.h5")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

LOAD THE ENCODER AND SCALER

In [144]:
with open("One_hot_encoder1.pkl","rb") as file:
    lobel1_encoder_geo=pickle.load(file)
print(lobel1_encoder_geo)    
with open("label_encoder-gender.pkl","rb") as file:
    lobel_encoder_gender=pickle.load(file) 
print(lobel_encoder_gender)
with open("scaler1.pkl","rb") as file:
    scaler1=pickle.load(file)   
print(scaler1)

OneHotEncoder()
LabelEncoder()
StandardScaler()

In [130]:
print(type(lobel1_encoder_geo))
print(type(scaler1))

<class 'sklearn.preprocessing._encoders.OneHotEncoder'>
<class 'sklearn.preprocessing._data.StandardScaler'>

EXAMPLE INPUT DATA

In [137]:
Input_data={
    "Geography": ["Germany"],
    "Gender": ["Male"],
    "Age": [26],
    "Tenure": [3],
    "Balance": [16262.898246319879],
    "NumOfProducts": [3],
    "HasCrCard": [1],
    "IsActiveMember": [1],
    "EstimatedSalary": [144369.9435306556],
    
}

final_df = pd.DataFrame(Input_data)
final_df
print("Current columns are:", final_df.columns)

Current columns are: Index(['Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

ONE HOT ENCODE "Geography"

ENCODE THE GENDER

In [138]:
# --- All 'Geography' encoding steps in one cell ---

# 1. Check if the 'Geography' column exists before trying to encode it
if 'Geography' in final_df.columns:
    print("Encoding 'Geography' column...")

    # 2. Transform the column and create a new DataFrame from it
    geo_encoded = lobel1_encoder_geo.transform(final_df[['Geography']]).toarray()
    geo_encoded_df = pd.DataFrame(geo_encoded,
                                columns=lobel1_encoder_geo.get_feature_names_out(['Geography']),
                                index=final_df.index) # Use the same index for a clean merge

    # 3. Drop the original 'Geography' column
    final_df = final_df.drop('Geography', axis=1)

    # 4. Concatenate the original DataFrame with the new encoded one
    final_df = pd.concat([final_df, geo_encoded_df], axis=1)

    print("Encoding complete. Columns are now:")
    print(final_df.columns)
else:
    print("'Geography' column not found. It might have been encoded already.")

# Display the result
final_df.head()

Encoding 'Geography' column...
Encoding complete. Columns are now:
Index(['Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Geography_France',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

  Gender  Age  Tenure  ...  Geography_France  Geography_Germany  Geography_Spain
0   Male   26       3  ...               0.0                1.0              0.0

[1 rows x 11 columns]

## encode the categorical variable For GENDER

In [139]:
final_df["Gender"]=lobel_encoder_gender.transform(final_df["Gender"])
final_df

   Gender  Age  Tenure  ...  Geography_France  Geography_Germany  Geography_Spain
0       1   26       3  ...               0.0                1.0              0.0

[1 rows x 11 columns]

## Scaling the input data

In [140]:
# scaling the input frame

final_scaler=scaler1.transform(final_df)
final_scaler

c:\Users\sriva\Desktop\ANN Clasification\venv\Lib\site-packages\sklearn\utils\validation.py:2742: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

array([[ 1.00000000e+00,  2.60000000e+01,  3.00000000e+00,
         1.62628982e+04,  3.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.44369944e+05,  1.58603289e-17,
         1.00000000e+00, -1.58603289e-17]])

## PREDICTION CHURN

In [141]:
prediction=model.predict(final_scaler)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 135ms/step

array([[1.]], dtype=float32)

also we can run this

In [142]:
prediction_proba=prediction[0][0]
prediction_proba

np.float32(1.0)

## OUTPUT of the prediction

In [143]:
if prediction_proba>0.5:
    print(" The Customer is likly to churn")

else:
    print(" The Customer is  not likly to churn")

 The Customer is likly to churn

import os
os.getcwd()